/* The snackbar variable */
$xPadding: 5%;
$yPadding: 30px;
$x: left, right, center;
$y: top, bottom;
$positions: (top ($x), bottom ($x));

@mixin  toast-position-animation {
    @each $position in $positions {
    $section: nth($position, 1);
    $row: nth($position, 2);
    @each $x in $row {
      &.#{$x}-#{$section} {
        #{$section}: $yPadding;
        @if $x == "center" {
          right: 50%;
          transform: translateX(50%);
        } @else {
          #{$x}: $xPadding;
        }
      }
      &.show.#{$x}-#{$section} {
        visibility: visible; /* Show the snackbar */
        animation: fadein-#{$section} 0.5s, fadeout-#{$section} 0.5s 2.5s;
      }
    }
    @keyframes fadein-#{$section} {
      from {
        #{$section}: 0;
        opacity: 0;
      }
      to {
        #{$section}: 30px;
        opacity: 1;
      }
    }
  }
}

.toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  @include toast-position-animation;
}